@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

.product-grid {
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:20px;
}

.product-grid img {
    width:100%;
    height: auto;
}

header h2 {
    border-bottom: 2px solid black;
}

footer {
    background-color: peachpuff;
}

.image-container img {
    width:25%;
    height:25%;
}

.about-us{
    display:flex;
    align-items:center;
    justify-content: center;
    
}

.about-us img:first-child{
    margin-right:10px
}

.about-us img:last-child{
    margin-left:10px;
}

.about-us p {
flex-grow: 1;
text-align:center;
}