@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

.product-grid {
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:20px;
}

.product-grid img {
    width:100%;
    height: auto;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}


li{
    margin-right: 20px;
}

li:last-child {
    margin-right: 0;
}


a {
    color: #fff;
    text-decoration: none;
}


.logo img{
    height:50px;
    margin-right: 10px
}

.logo h1 {
    font-size: 24px;
    margin: 0;
}

.actions form {
    display: flex;
}



.actions input[type="search"] {
    padding: 5px;
    margin-right: 10px;
    border: none;
    border-radius: 5px
}

.actions button[type="submit"] {
    background-color: #fff;
    color: #333;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.actions .cart {
    background-color: #fff;
    color: #333;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}


header h2 {
    border-bottom: 2px solid black;
}

footer {
    background-color: peachpuff;
}


.image-container {
    width: 600px;
    height: 276px
}

.image-container img {
    display: block;
    max-width: 50%;
    max-height: 50%;
}

.socialmedia {
display:flex;
justify-content: space-between;
align-items: center
}

.socialmedia img{
    max-width: 100%;
    height: auto;
    margin-right: 20px
}

